body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0px ;
    padding: 0px;
    background: #272E3C;
    color: #FFFFFF;
}

.header-wrapper{
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto ;
    padding-top: 24px;
}

.header-wrapper a{
    color: rgba(255, 255, 255, 0.7);
    margin-right: 32px;
    text-decoration: none;
    font-size: 16px;
}

.header-wrapper a:hover{
    border-bottom: 1px solid rgba(255, 255, 255);
    color: #FFFFFF;
}

.header-wrapper a:last-child{
    margin-right: 0px;
}

.additional-menu{
    display: flex;
    align-items: center;
}

.additional-menu .sign-in{
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.additional-menu .sign-in p{
    margin: 0px 0px 0px 16px;

}

.additional-menu a{
    text-decoration: none;
    font-size: 16px;
}


.profile_page_wrapper{
    width: 1200px;
    margin: 64px auto 0;

}

.profile_information_wrapper{
    width: 420px;
}

.image-profile{
    width: 40%;
    margin-bottom: 24px;
}

.information_row{
    display: flex;
    align-items: center;
}

.information_row h3{
    margin-right: 16px;
}

.change-photo{
    background: transparent;
    border: 0px;
    text-decoration: #FFFFFF;
}

.change-photo-btn{
    background: #0F4AEB;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    color: white;
}

.profile_all_information{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.row_team{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.favourite_matches{
    width: 600px;
}

.my_data{
    width: 500px;
}

.title_row{
    font-size: 14px;
}

.oldest_team{
    justify-content: end;
}

.oldest_team h3{
    color: #0F4AEB ;
}